.container {
  border: 1px solid red;

  max-width: 1440px;
  margin: 0 auto;
  padding: 3.6rem 1.6rem;

  display: flex;
  flex-direction: row;
  align-items: center;

  overflow: hidden;

}

.container-item-1 {
  max-width: 57.6rem;
  border: 1px solid green;

  display: flex;
  flex-direction: column;
  align-items: flex-start;
  

}
.container-item-2 {

  border: 1px solid green;


}

.spiderman {
  width: 150%;
  transform: translate3d(-170px,0,0);
}

