@mixin menu-responsive(){
  @media screen and (max-width:960px) {
    display: none;
  }
}
@mixin menuBurguer-responsive(){
  @media screen and (max-width:960px) {
    display: block;
  }
}

header {

  width: 100%;

  padding-top: 1.6rem;
}

.navbar {
  max-width: 144rem;
 
  margin: 0 auto;

  display: flex;
  justify-content: space-between;
  align-items: center;
  
}

.nav-menu {
  display: flex;
  justify-content: flex-start;
  align-items: center;

  
}


.nav-list {
  list-style: none;
  display: flex;

  li {
    margin-left: 2.4rem;
  }

  @include menu-responsive()
}

.nav-link {
  display: inline-block;

  color: $gray-3;
  
  font-size: 1.4rem;
  font-weight: 200;
  letter-spacing: 2px;
  text-transform: uppercase;

  padding: 8px 16px;
  transition: .7s ease;

  position: relative;

  &::after {
    content: '';
    display: block;

    position: absolute; // Ficará absoluto ao pai nav-link
   
    top: -40px;
    left: 50%;

    width: 2px;
    height: 0px;

    transition: .7s ease;

    background: linear-gradient(180deg, rgba(233,29,34,0)0%,#E91D22 100%);

  }

  &:hover {
    color: $white-light;

    &::after {
   
      height: 40px;
      
  
    }
  }

}

.burguerMenu {
  display: flex;
}

.burguer-menu {
  width: 48px;
  height: 48px;
  // background-color: #333;
  border-radius: 8px;
  display: none;

  position: relative;

    &::after {
      content: '';
      width: 70%; // ocupa 70% do pai
      height: 10%;  
      // display: block;
      background-color: $white;

      border-radius: 20px;

      position: absolute;
      top: 30%;
      left: 15%;

      transition: 1s ease;
    }
    &::before {
      content: '';
      width: 40%; // ocupa 70% do pai
      height: 10%;  
      display: block;
      background-color: $white;

      border-radius: 20px;

      position: absolute;
      top: 60%;
      left: 45%;

      transition: 1s ease;
    }

  @include menuBurguer-responsive()
}

#hamburguer:checked ~ label .burguer-menu:after {
  transform: rotate(225deg);

  width: 70%; 
  height: 10%;

  top: 37%;
  left: 42;

 
}

#hamburguer:checked ~ label .burguer-menu:before {
  transform: rotate(-225deg);

  width: 70%; 
  height: 10%;

  top: 37%;
  left: 0;


}

// Quando o input checkbox estiver 'checked', ele irá pegar o próximo
// elemento ( ~ sinal de próximo), que é a label, e dentro da 
// label temos a classe .burguer-menu. Dentro da classe .burguer-menu,
// queremos modificar realmente os elementos :after e :before.

.nav-social {
  display: flex;
  justify-content: center;
  align-items: center;

  svg {

    cursor: pointer;

    margin-left: 1.6rem;
    width: 2.4rem;

    path,circle {
      transition: .7s ease;
    }

    &:hover {
      path,circle {
        fill: $red-light;
        transform: translate3d(0,-3px,0);
      }
    }
  }

  @include menu-responsive()
}

