header {
  border: 1px solid red;

  width: 100%;

  padding-top: 1.6rem;
}

.navbar {
  max-width: 144rem;
  border: 1px solid red;
  margin: 0 auto;

  display: flex;
  justify-content: space-between;
  align-items: center;
  
}

.nav-menu {
  display: flex;
  justify-content: flex-start;
  align-items: center;

}


.nav-list {
  list-style: none;
  display: flex;

  li {
    margin-left: 2.4rem;
  }
}

.nav-link {
  display: inline-block;

  color: $gray-3;
  
  font-size: 1.4rem;
  font-weight: 200;
  letter-spacing: 2px;
  text-transform: uppercase;

  padding: 8px 16px;
  transition: .7s ease;

  position: relative;

  &::after {
    content: '';
    display: block;

    position: absolute; // Ficará absoluto ao pai nav-link
   
    top: -40px;
    left: 50%;

    width: 2px;
    height: 0px;

    transition: .7s ease;

    background: linear-gradient(180deg, rgba(233,29,34,0)0%,#E91D22 100%);

  }

  &:hover {
    color: $white-light;

    &::after {
   
      height: 40px;
      
  
    }
  }

}

