@import 'colors';
@import 'animations';
@import 'layout';
@import 'menu';
@import 'spacing';

*,
 *::after,
 *::before {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-size: 62.5%; //10px
  font-family: 'Mukta', sans-serif;
}


body {
  font-size: 1.6rem;
  width: 100%;
  height: 100vh;
  background-color: $blue-dark;

}

img, svg{
  width: block;
  width: 100%;
}

a {
  text-decoration: none;
  color: $white;
}

p {
  font-size: 1.6rem;
  color:$gray-3;
  letter-spacing: 1px;
  line-height: 140%;
}

